/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-size: 16px;
  color: #060606;
}

/* HEADER */
/* my global */
.hover__ori {
  transition: all 0.4s;
  cursor: pointer;
}

.hover__ori:hover {
  color: #ff6e65;
}

.header__top {
  background-color: #0d369f;
  padding: 16px 30px;
}

.header__top * {
  color: white;
  display: inline;
  font-size: 14px;
}

.header__top a {
  text-decoration: none;
}

.header__top i {
  font-size: 14px;
}

.header__left i {
  margin-right: 5px;
}

.header__left p {
  font-weight: 500;
  word-spacing: -1px;
}

.header__left a {
  font-size: 14px;
  font-weight: 500;
}

.header__right i {
  margin-left: 2rem;
}

/* NAV */
nav.navbar {
  padding: 16px 24px;
}

nav.nav-fixed {
  padding: 4px 24px !important;
}

.navbar-brand p {
  font-size: 24px;
  margin: 0 3px;
  font-weight: 600;
  color: #0d369f;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  font-weight: 600;
  font-size: 14px;
  padding: 0 10px;
  transition: all 0.5s;
}

.navbar-light .navbar-nav .nav-item.active .nav-link {
  color: #ff6e65;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #ff6e65;
}

nav .dropdown-item {
  font-weight: 600;
}

header nav form input.form-control {
  height: 45px;
  border-radius: 30px;
  font-size: 14px;
}

header nav form {
  width: 230px;
  position: relative;
  margin: 0 45px 0 20px;
}

header nav form button {
  position: absolute;
  right: 15px;
}

header nav form button i {
  color: #0d369f;
  font-size: 13px;
}

/* nav{
    position: relative;
} */
header nav .mode-container {
  position: absolute;
  right: 20px;
  top: 24px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 25px;
  /* transform: rotate(-15deg) translateY(2px); */
  margin-right: 10px;
}

header nav .mode-container i {
  transform: rotate(-15deg) translateY(2px);
  color: #0d369f;
  font-size: 24px;
}

#switchButton:hover i {
  color: #ff4f81;
}

header nav.nav-fixed .mode-container {
  top: 20px;
}

.form-control:focus {
  outline: none;
  padding-right: 40px;
  box-shadow: none;
  border-color: #ced4da;
}

/* Light theme */
#myBody {
  background-color: white;
}

#switchButton {
  background-color: #f8f9fa;
}

#switchButton .fa-sun {
  display: none;
}

#switchButton .fa-moon {
  display: block;
}

/* NAV TOGGLER */
.navbar-toggler {
  background-color: #0d369f;
  color: white;
  height: 34px;
  width: 34px;
}

.navbar-toggler span {
  width: 100%;
  background-image: none !important;
}

.navbar-toggler span i {
  transform: translateX(-5px);
  color: white;
  font-size: 22px;
  line-height: 25px;
}

/* CAROUSEL */
.carousel__main {
  height: 90vh;
  overflow: hidden;
}

.carousel__content {
  height: 500px;
  overflow: hiden;
}

.carousel__item {
  position: relative;
  height: 90vh;
}

.carousel__item > img {
  filter: brightness(80%);
  z-index: -1;
  object-fit: cover;
  height: 100%;
}

.carousel__text {
  position: absolute;
  max-width: 560px;
  top: 50%;
  color: white;
  text-align: left;
  transform: translateY(-50%);
  z-index: 1;
}

.carousel__text h3 {
  font-size: 70px;
}

.carousel__text button {
  color: #060606;
  margin-top: 40px;
  font-size: 1rem;
  font-weight: 600;
  padding: 12px 28px;
  border: 1px solid transparent;
  background-color: white;
  transition: all 0.5s;
}

.carousel__text button:hover {
  color: white;
  background-color: #ff6e65;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  position: absolute;
  bottom: 0px;
  right: 20px;
  transform: rotate(90deg);
}

.owl-theme .owl-dots .owl-dot.active span {
  background-color: #ff6e65;
}

/* SERVICES */
.services .hover__black {
  transition: all 0.5s;
}

.services .hover__black:hover {
  color: #060606;
}

.services .services__content .row > * {
  padding: 0 10px;
}

.services__item {
  display: block;
  margin-bottom: 12px;
  text-align: center;
  padding: 65px 35px;
  color: white;
  font-size: 24px;
  border-radius: 10px;
  transform: translateY(-30%);
  position: relative;
  z-index: 1;
}

.services__item.item1 {
  background-color: #037ef3;
}

.services__item.item2 {
  background-color: #ffc949;
}

.services__item.item3 {
  background-color: #ff4f81;
}

.services__item.item4 {
  background-color: #1ee697;
}

.services__item i {
  display: block;
  font-size: 50px;
  margin-bottom: 25px;
}

/* STUDIOUS */
.studious {
  padding-bottom: 100px;
}

.studious h3 {
  font-family: "Montserrat", sans-serif;
}

.studious h2 {
  font-weight: 600;
  font-size: 40px;
  color: #ff6e65;
  position: relative;
  padding-bottom: 20px;
}

.studious span {
  color: #060606;
  font-family: "Montserrat", sans-serif;
}

.studious h2::before,
.studious h2::after {
  position: absolute;
  content: "";
  display: block;
  height: 2px;
  width: 60px;
  background-color: #707070;
  margin: auto;
}

.studious h2::after {
  bottom: 10px;
  left: 46%;
  /* left: -20px; */
}

.studious h2::before {
  bottom: 3px;
  left: 48%;
}

.studious__item i {
  margin-top: 42px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 30px;
  background-color: #0d369f17;
  color: #0d369f;
  border-radius: 100%;
}

.studious__item h3 {
  font-size: 24px;
  font-weight: 600;
  margin: 26px 0 23px;
}

.studious__item p {
  color: #707070;
  font-size: 0.97rem;
  line-height: 27px;
}

/******************* REPONSIVE ***************/
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 991.98px) {
  .header__top {
    display: none !important;
    visibility: hidden;
  }

  .navbar-toggler {
    position: relative;
  }

  nav {
    padding: 4px 24px !important;
  }

  header nav .mode-container {
    position: absolute;
    right: 70px;
    top: 20px;
  }

  header {
    height: 64px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
  }

  header nav form {
    margin: auto;
  }

  .navbar-light .navbar-nav .nav-item.active .nav-link {
    color: #0d369f;
  }

  .navbar-light .navbar-nav .nav-link:focus,
  .navbar-light .navbar-nav .nav-link:hover {
    color: #0d369f;
  }

  .navbar-light .navbar-nav .nav-link {
    margin: 12px 0;
  }

  .navbar .dropdown-menu {
    text-align: center;
    width: 200px;
    margin: auto;
  }

  /* a.dropdown-item:hover{
        color: #0d369f;
    } */
}

/* End ngthtrong */

a {
  cursor: pointer;
  text-decoration: none;
  /* transition: .5s all; */
}

p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 28px;
  color: #707070;
  letter-spacing: 0.4px;
}

.btn-style {
  padding: 14px 30px;
  font-weight: 600;
  color: #060606;
  border-radius: 4px;
  border: none;
  transition: all 0.25s ease-in-out;
}

.btn-style-primary {
  color: #ff6e65;
  padding: 0;
  background: transparent;
  font-size: 14px;
}

.btn-style-secondary {
  background: #ff6e65;
  color: #fff;
  transition: 0.3s ease-out;
}

.title {
  position: relative;
}

.title h3 {
  padding: 100px 0 30px 0;
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  position: relative;

  color: #ff6e65;
}

.title span {
  font-family: "Montserrat", sans-serif;

  color: #060606;
}

.title::before {
  content: "";
  position: absolute;
  bottom: 22px;
  left: 47%;
  background-color: #707070;
  height: 2px;
  width: 60px;
}

.title::after {
  content: "";
  position: absolute;
  bottom: 15px;
  left: 49%;
  background-color: #707070;
  height: 2px;
  width: 60px;
}

.card {
  border-radius: 8px;
  border: 0.2px solid rgb(255 255 255 / 20%);
  transition: all 0.7s;
}

.course .card:hover {
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
}

.card img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.course__level li {
  list-style: none;
  color: #ff6e65;
  justify-content: space-between;
  display: inline;
}

.course__level p {
  color: black;
}

.course__level ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 30px 20px 0 20px;
}

.course__level i,
.course__level p {
  display: inline;
}

.course__level ul {
  display: flex;
}

.course__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ff6e65;
}

.card-footer {
  border-top: 1px solid rgb(255 255 255 / 20%);
  background-color: unset;
}

/* .course__footer a {
color: #ff6e65;
background: transparent;
font-size: 14px;
} */
.course__star {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
}

.course__star a {
  color: #ffc949;
}

.course__star li {
  list-style: none;
  align-items: center;
  margin-right: 2px;
}

.course__link {
  transition: all 0.5s;
}

.course__link:hover a {
  color: #0d369f;
}

.course__pic {
  position: relative;
  width: 100%;
}

.course__cost h6 {
  border-radius: 100px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background: #ff6e65;
  color: #ffffff;
  box-shadow: 0px 8px 20px rgb(241 77 93 / 20%);
  min-width: 70px;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translateY(-80%);
  /* bottom: 10%; */
  right: 25px;
}

.course__tag {
  display: flex;
  position: absolute;
  top: 15px;
  left: 25px;
}

.course__tag a {
  background: #1dc295;
  display: inline-block;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 600;
  padding: 4px 10px;
  color: #ffffff;
  text-transform: capitalize;
  display: inline-block;
  margin-right: 5px;
  text-decoration: none;
}

.course__tag a:nth-child(1) {
  background-color: #ffa100;
}

.course__tag a:nth-child(3) {
  background-color: #037ef3;
}

.course__end {
  /* background-color: white; */
  margin: 0 20px;
  padding: 25px 0;
}

.course__body {
  margin-bottom: 32px;
}

/* .course__container:hover {
    box-shadow: 1px 0px 0px 0px rgb(4 20 69 / 10%);
} */

.course__body a {
  font-size: 22px;
  font-weight: 600;
  color: #060606;
  transition: all 0.5s;
}

.course__body a:hover {
  color: #ff6e65;
}

.course__body a {
  text-decoration: none;
}

.course__content {
  position: relative;
  padding-bottom: 200px;
  margin-bottom: 10px;
}

.course__container {
  margin-bottom: 30px;
}

/* .course__button p
.course__button i {
    display: inline-block;
} */

.course__button p {
  color: white;
}

.course__button button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 100px;
  transition: all 0.5s;
}

.course__button button:hover {
  background-color: #0d369f;
}

/* SERVICES */
.benefits {
  background-image: url(../Capstone_img/bg3.jpeg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.benefits h5 {
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.benefits__card {
  position: relative;
  padding: 28px;
}

.benefits__icon i {
  background: #0d369f;
  color: #0d369f;
  font-size: 28px;
  background: rgb(13 54 159 / 9%);
  width: 65px;
  height: 66px;
  line-height: 65px;
  border-radius: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
  margin-right: 30px;
}

#benefits__body {
  padding: 0px;
  padding-left: 5px;
}

.benefits__container {
  display: flex;
}

.col-3 .benefits__icon {
  margin: 1px;
  padding-right: 8px;
  text-align: left;
}

/* .benefits__items {
    padding: 15px;

} */
/* Dark Theme*/
.dark#myBody {
  background-color: #161c2d;
}

.dark2#head {
  background-color: #4867b0;
}

.dark3#lesson {
  background-color: #121725;
}

.dark #switchButton {
  background-color: #161c2d;
}

.dark #switchButton .fa-sun {
  display: block;
  color: #4867b0;
  transition: all 0.5s;
}

.dark #switchButton .fa-search {
  color: #4867b0;
}

.dark #switchButton:hover .fa-sun {
  color: #ff4f81;
}

.dark #switchButton .fa-moon {
  display: none;
}

.dark .mode {
  background-color: #161c2d;
  color: #f8f9fa;
}

.dark .mode3 {
  background-color: #121725;
  color: #f8f9fa;
}

.dark .mode span,
.dark .mode .form-control,
.dark .mode .title span,
.dark .mode .nav-link {
  background-color: #161c2d;
  color: #f8f9fa;
}

.dark .mode .course__level p,
.dark .mode h5 {
  /* background-color: #121725; */
  color: #f8f9fa;
}

.dark .mode .title::after,
.dark .mode .title::before,
.dark .mode h2::before,
.dark .mode h2::after {
  background-color: #b7b7b7;
}

.course__body h5:hover {
  color: #ff6e65;
}

/* 1px solid rgba(0, 0, 0, 0.125) */
.dark .mode #benefits__body p,
.dark .mode .course__body p,
.dark .mode .studious__item p {
  color: #b6b7b6;
}

.number__item {
  color: #060606;
  text-align: center;
}

.number__item p {
  color: #060606;
}

/* Tìm tất ccar thẻ P trong number__items, lấy thể p đầu tiên trong number__items  */

.number__item p:first-of-type {
  font-size: 4rem;
  height: 100%;
  width: 100%;
}

.number__item p:last-of-type {
  font-size: 1rem;
  padding: 40px;
}

/* xử lý rung lắc nội dung bên dưới số  */
.number__item {
  width: 25%;
}

.feedback {
  padding: 50px 30px;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
}

.logo {
  border-radius: 50%;
}

.tooler {
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
}

.team-grids {
  position: relative;
  overflow: hidden;
}

.team-block-single {
  padding: 10px;
}

.mentor h4.footer_left {
  font-size: 35px;
  line-height: 40px;
  color: var(--heading-color);
  font-weight: 600;
  justify-content: center;
  right: 0;
}

/* nút  */
.formm {
  background: transparent;
  border: none;
  padding: 15px 20px;
  font-size: 16px;
  color: var(--heading-color);
  width: 100%;
  border-radius: 8px 0px 0px 8px;
  height: 55px;
  border: 1px solid #eee;
}

.buttonn {
  background: blue;
  border: none;
  color: #fff;
  padding: 16px 30px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 0 8px 8px 0;
}

.footer-sub {
  padding: 80px 0;
  background-color: #060e1f;
  color: #fff;
}

.right_side {
  padding: 30px;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 10px;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffff;
  color: #060606;
  position: absolute;
  box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
}

.w3l-footer-22 p a {
  color: white;
}

.w3l-footer-22 ul.social li {
  display: inline-block;
  margin-right: 5px;
}

.columns {
  background-color: #040a17;
  padding: 20px 0;
}

.footer__form {
  display: flex;
  justify-content: center;
}

.footer__link {
  margin-top: 120px;
}

.footer__link h6 {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(23, 54, 88, 0.4);
  padding-bottom: 10px;
  font-weight: bold;
}

.footer__link .href1 a,
.footer__link .href2 a {
  text-decoration: none;
  color: #cecece;
  line-height: 25px;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
}

.href1,
.href2 {
  display: flex;
  /* justify-content: center; */
}

.footer__link span {
  font-size: 18px;
  color: #fff;
  vertical-align: middle;
  margin-right: 10px;
  width: 25px;
  text-align: center;
}

.footer__link .href2 {
  margin-top: 10px;
  padding: 10px 0;
}

.footer__link .column2 span {
  font-size: 18px;
  color: #fff;
  vertical-align: middle;
  margin-right: 10px;
  width: 25px;
  text-align: center;
}

.contact-para {
  font-size: 14px;
  line-height: 24px;
  color: #cecece;
  margin-top: 10px;
}

.footer__link a {
  font-size: 14px;
  line-height: 24px;
  color: #cecece;
  margin: 0 0 10px 0;
  display: block;
}

.footer__link p {
  font-size: 14px;
  line-height: 24px;
  color: #cecece;
}
.team-info {
  background-color: #707070;
  transition: all 0.5s;
  transform: translateY(50px);
  position: absolute;
  bottom: -15px;
  margin: 0;
  -moz-transition: 0.5s all;
  width: 100%;
  text-align: center;
  padding: 15px;
}

.team-block-single:hover .team-info {
  transform: translateY(-15px);
}
